.red-box {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  color: #ffffff;
  background-color: #880000; }

.green-box {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  color: #ffffff;
  background-color: #008800; }

.blue-box {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  color: #ffffff;
  background-color: #000088; }

html {
  min-height: 100%;
  background-color: #0769ad;
  box-shadow: 0 0 8px 4px #06599d inset; }

body {
  font-size: 16px;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; }

.clear {
  clear: both; }

#content {
  overflow: auto;
  width: 80%;
  background-color: #fff;
  margin: 30px auto 0 auto;
  padding: 20px 30px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

h1 {
  color: #000; }

h2 {
  border-bottom: 1px solid #aaa; }

